.body_background {
    background-image: url("bg1.jpg");
    background-position: center;
    background-size: cover;
}

body {
    cursor: pointer;
}

h1 {
    color: rgb(4, 36, 66);
    font-family: Cambria;
    font-size: 45px;
}

#myCanvas {
    border-width: 10px;
    background-color: white;
    border-style: ridge;
}

button {
    background-color: rgb(10, 96, 99);
    border-style: solid;
    border-color: whitesmoke;
    color: white;
    padding: 10px 42px;
    font-size: 20px;
}

input {
    margin-right: 20px;
}